[Unit]
Description=GO-EUC post-setup web file host
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/influx-grafana/public
ExecStart=/usr/bin/python3 /usr/local/bin/go-euc-webfiles.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
